.clsInfoPane {
	position: fixed;
	color: black;
	border: 2px solid blue;
	border-radius: 20px;
	top: 150px;
	left: 50%;
	width: 400px;
	margin-left: -200px;
	min-height: 80px;
	text-align: center;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.clsInfoPaneOk {
	background-color: #80FF80E0;
	border-color: green;
}

.clsInfoPaneEr {
	background-color: #FF8080E0;
	border-color: red;
}

.clsInfoPaneIn {
	background-color: #b5c4ffe0;
	border-color: blue;
}

.clsInfoPaneXx {
	background-color: #fff58de0;
	border-color: rgb(161, 150, 0);
}